@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

#f {
    display: grid;
    width: 200px;
}

#f input {
    margin-bottom: 1em;
}

#itens {
    align-items: center;
    position: absolute;
}

body {
    font-family: "Roboto";
}

.registros {
    border-radius: 15px;
    border: 1px solid;
    width: 400px;
    height: 40px;
}