@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--cor1: #50C878;
	--cor2: #EAEBED;
	--cor3: #006989;
	--cor4: #007090;
	--cor5: #01A7C2;
	--fonte_titulo: 'Inter', sans-serif;
	--fonte_texto: Arial, Helvetica, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    height: 70px;
    background-color: var(--cor1);
    display: grid;
    grid-template-columns: auto 55% 30%;
    align-items: center;
}

/* Logo */

#logo {
    /* background-color: red; */
    width: auto;
    display: grid;
    grid-template-columns: 90px auto;
    align-items: center;
}

#logo img {
    height: 50px;
    margin-left: 40px;
}

#logo h1 {
    display: inline;
    height: auto;
    width: auto;
    font-family: var(--fonte_titulo);
    color: white;
    font-size: 1.2em;
    margin-left: 5px;
    font-weight: 500;
}

/* Navbar */

#navegacao {
    /* background-color: blue; */
    width: auto;
    align-items: center;
    height: auto;
    display: grid;
    grid-template-rows: 40px;
}

#navegacao a {
    text-decoration: none;
    font-family: var(--fonte_titulo);
    color: white;
    font-size: 1em;
    margin-right: 20px;
}

a.marcado {
    font-weight: bolder;
}

/* Direita */

#direita {
    /* background-color: yellow; */
    height: auto;
    width: auto;
    text-align: right;
}

#direita a {
    margin-right: 40px;
    padding: 5px 10px;
    text-decoration: none;
    font-family: var(--fonte_titulo);
    font-size: 1em;
    border-radius: 12px;
    color: var(--cor1);
    background-color: white;
    border: 1px solid var(--cor1);
    transition: 0.2s;
}

#direita a:hover {
    border: 1px solid red;
    color: red;
}


