main {
	padding: 20px;
	min-width: 800px;
	max-width: 1000px;
	margin: auto;
}

main h1 {
	margin: 40px 0px 30px 0px;
	font-size: 2.5em;
	text-align: left;
	font-family: var(--fonte_titulo);
	font-weight: 400;
}

main h1::before {
	content: '| ';
}

#corpo {
	width: 100%;
	height: 800px;
	display: grid;
	grid-template-columns: 50% 50%;
}

.colunas {
	padding: 20px;
}

#coluna1 {
	width: 460px;
}


.aulas {
	background-color: var(--cor2);
	width: 90%;
	border-radius: 20px;
	padding: 20px;
	border: solid var(--cor4) 1px;
	margin-bottom: 20px;
	display: block;
}

.aulas h2 {
	font-size: 1.2em;
	font-weight: bold;
	font-family: var(--fonte_titulo);
	margin-top: 0px;
	margin-bottom: 5px;
}

.aulas p {
	font-size: 0.9em;
	margin-bottom: 20px;
	font-family: var(--fonte_texto);
}

.aulas a {
	border-radius: 12px;
	color: var(--cor5);
	border: solid var(--cor4) 2px;
	font-family: Arial, Helvetica, sans-serif;
	width: 250px;
	height: 50px;
	padding: 8px;
	font-size: 0.8em;
	font-weight: 400;
	background-color: white;
	text-decoration: none;
	text-align: right;
	transition: 0.2s;
}

.aulas a:hover {
	background-color: var(--cor4);
	color: white;
}

#coluna2 {
	width: 460px;
	text-align: center;
	position: fixed;
	margin-left: 35%;
}

#coluna2 h2 {
	font-family: var(--fonte_titulo);
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 20px;
}

#coluna2 img {
	width: 320px;
	height: 320px;
}



/* 

.veraula {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	margin-left: 100px;
	line-height: 35px;
	position: absolute;
	color: #37BF57;
	border: solid #27B849 5px;
	font-family: Arial;
	width: 250px;
	height: 60px;
	padding: 8px;
	font-size: 20px;
	font-weight: 600;
	background-color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	text-align: center;
}

#titulomodulo{
	font-family: 'Inter', sans-serif;
	font-size: 50px;
	margin-left: 80px;
	margin-top: 30px;
}



#tituloprog{
	font-family: 'Inter', sans-serif;
	font-size: 50px;
	left: 1000px;
	margin-top: 40px;
	position: absolute;
} */